[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-summernote = "*"
django-admin-list-filter-dropdown = "*"
django-admin-rangefilter = "*"
django-leaflet = "*"
django-geojson = {extras = ["field"], version = "*"}
django-import-export = "*"
django-grappelli = "*"
django-admin-honeypot = "*"
django-jazzmin = "*"

[dev-packages]
black = "*"
ipython = "*"
bpython = "*"
faker = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
